<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fsoky Community</title>
    <link rel="shortcut icon" href="{{ url_for('static', path='images/fsokylogo.png') }}" type="image/png">
    <link rel="stylesheet" href="{{ url_for('static', path='style.css') }}">
</head>
<body>

    <div class="header">
        <img src="../static/images/fsokyminilogo.png" alt="Mini Logo" width="64" height="64">
        <p><span>Fsoky</span> Community</p>
    </div>

    <div class="content">
        <div class="box">
            <img src="../static/images/pineapple.png" alt="Pineapple" width="180" height="180">
            <div>
                <span>Обо мне</span>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Architecto, sit?</p>
            </div>
        </div>
        
        <div class="box">
            <img src="../static/images/heart.png" alt="Heart" width="180" height="180">
            <div>
                <span>Увлечения</span>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid, quo.</p>
            </div>
        </div>

        <div class="box">
            <img src="../static/images/headphones.png" alt="Heart" width="180" height="180">
            <div>
                <span>Контакты</span>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus, fugit.</p>
            </div>
        </div>
    </div>

</body>
</html>